astropy==6.1.2
astropy-iers-data==0.2024.8.19.0.32.16
astroquery==0.4.7
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
html5lib==1.1
idna==3.8
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
joblib==1.4.2
keyring==25.3.0
kiwisolver==1.4.5
matplotlib==3.9.2
more-itertools==10.4.0
numpy==2.1.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pyerfa==2.0.1.4
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyvo==1.5.2
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.1
six==1.16.0
soupsieve==2.6
threadpoolctl==3.5.0
tqdm==4.66.5
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
